<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeanDemoConnection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD8F07091E80E073008456F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8F071D1E80E073008456F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8F07281E80E073008456F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
